*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 
}
.grid-container{
   display: grid;
   grid-template-columns: 100px ;
   grid-template-rows: 100px 100px;
}